<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #98b4c9;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto d-flex align-center">
            <li class="nav-item active">
                <img src="https://i.imgur.com/iM6ArVO.jpg" alt="Imagem do User" 
                    class="img-fluid rounded-circle img-50-circle">
            <li class="nav-item pl-3">
                <p class="m-0 font-weight-bold text-white fs-16">Nome do usuario</p>
            </li>
            <li class="nav-item pl-3">
                <a href="">
                    <p class=" m-0 fs-16 text-white">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </p>
                </a>                
            </li>
    
        </ul>
        <ul class="navbar-nav ml-auto d-flex align-center">
            <li class="nav-item pl-3">
                <a href="">
                    <p class="m-0 font-weight-bold text-white fs-16">Sair                    
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </p>
                </a>
                
            </li>
        </ul>
        
    </div>
</nav>